<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <title>Title</title>
</head>
<style>
    *{text-align: left ;

    }

   .Line-1 {
  width: 1140px;
  height: 1px;
  margin: 20px 0 20px;
  background-color: #000;
}
body {background-color: #f2f2f2;}
.main {
    background-color: white;
             width: 1200px;
  height: 700px;
  flex-grow: 0;

  margin: auto;
  padding: 64px 62px 62px;
  border-radius: 10px;
  border: solid 1px #000;
  background-color: #fff;
       align-content: flex-start;
}
.upload-menu {
  width: 1440px;
  height: 1024px;
  flex-grow: 0;
    margin: auto;
  padding: 26px 13px 31px 81px;
  background-color: #f2f2f2;
}




</style>
<script>
    function save_post() {
        let title = $('#title').val()
        let cookingtime = $('#cookingtime').val()
        let content1 = $('#content1').val()
        let content2 = $('#content2').val()
        let content3 = $('#content3').val()
        let content4 = $('#content4').val()
        let content5 = $('#content5').val()
        let image = $('#image').val()
        let star = $('#star').val()
        $.ajax({
            type: 'POST',
            url: '/FLR',
            data: {title_give: title,  cookingtime_give: cookingtime, content1_give: content1, content2_give: content2, content3_give: content3, content4_give: content4, content5_give: content5, image_give: image, star_give: star},
            success: function (response) {
                alert(response['msg'])
                window.location.href = '/'

            }
        });
    }


$(document).ready(function() {
    show_nickname();
});

function show_nickname(){
    $.ajax({
    type: "GET",
    url: "/FLR/user",
    data: {},
    success: function (response) {
        let nickname = response['nickname'];
        let temp_html = `<label>닉네임</label><div id="nickname">${nickname}</div>>`
            $("#nicknamebox").append(temp_html);

        }
});
    }
</script>
<body>
<div class="upload-menu">
    <section id="main" class="main">
    <section id="back" class="back">
        <div class="art_sign">

            <form>
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg1"><p>레시피 제목</p></span>
                    <input id="title" type="text" class="form-control"
                             required placeholder="제목을 입력해주세요.">
                    <div class="nicknamebox">
                    </div>

                    <span class="input-group-text" id="inputGroup-sizing-lg4"><p>사진</p></span>
                    <div id = imageinput>
                            <input id="image" type="file" name="myImage" accept="image/*" />
                        </div>

                </div>

                <div class="Line-1"></div>
                <span class="input-group-text" id="inputGroup-sizing-lg5"><p>조리방법</p></span>
                <div class="input-group">
                    <textarea id="content1" class="form-control" name="content1" rows="1" cols="160" placeholder="1번 조리방법을 작성해주세요." required></textarea>
                    </div>
                <div class="input-group">
                    <textarea id="content2" class="form-control" name="content2" rows="1" cols="160" placeholder="2번 조리방법을 작성해주세요." required></textarea>
                    </div>
                <div class="input-group">
                    <textarea id="content3" class="form-control" name="content3" rows="1" cols="160" placeholder="3번 조리방법을 작성해주세요." required></textarea>
                    </div>
                <div class="input-group">
                    <textarea id="content4" class="form-control" name="content4" rows="1" cols="160" placeholder="4번 조리방법을 작성해주세요." required></textarea>
                    </div>
                <div class="input-group">
                    <textarea id="content5" class="form-control" name="content5" rows="1" cols="160" placeholder="5번 조리방법을 작성해주세요." required></textarea>
                </div>
                <div class="input-group input-group-lg input2">
                    <span class="input-group-text" ><p>조리시간</p></span>
                      <select required id="cookingtime" class="form-select" aria-label="Default select example">
                          <option value="" disabled selected>조리시간을 선택해주세요</option>
                          <option value="5분">5분</option>
                          <option value="10분">10분</option>
                          <option value="20분">20분</option>
                      </select>
                      <span class="input-group-text" ><p>별점</p></span>
                      <select required id="star" class="form-select" aria-label="Default select example">
                          <option value="" disabled selected>레시피 별점을 남겨주세요</option>
                          <option value="*">*</option>
                          <option value="**">**</option>
                          <option value="***">***</option>
                          <option value="****">****</option>
                          <option value="*****">*****</option>
                      </select>
                </div>
                <div id="space"></div>
                <a class="mybtn" id="buttons">
                    <button type="button" class="btn btn-primary btn-lg" onclick="save_post()">Post</button>
                     <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='/'">Cancel</button>
                </div>
    </div>
            </form>
            </div>

                </div>
                </div>

    </section>
</section>
</body>
</html>