
<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>메인페이지</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.9/swiper-bundle.css" integrity="sha512-WDdCafHbATE4+4590Fk0qPbO6O2MfG/60dN+MM8LmB00SeBmy9VWD0UN/qlZIrmCHGrewcdffueVXuuTcDo0Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/script.js"></script>

    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }
    </script>
</head>

<body>
{#    <h1>메인페이지 접속</h1>#}
{#    <p>#}
{#        <h1 class="title">로그인하고 5시간 동안만 볼 수 있는 페이지입니다.</h1>#}
{#        <h1 class="subtitle">계속 새로고침 해보세요</h1>#}
{#    </p>#}
{#    <h5 class="subtitle">나의 닉네임은: {{ nickname }}</h5>#}

    <header id="main_header">
        <div id="headerwrap">
            <div id="header_top">
                <h1 class="logo">
                    <a href="#!">LOGO</a>
                </h1>
                <div id="header_nick">
                    <h5 class="subtitle">{{ nickname }}님 환영합니다!</h5>
                    <button class="sign-out" onclick="logout()">SIGN OUT</button>
                </div>
            </div>
        </div>
    </header>

    <div class ="menu-upload">
        <div class="upload-text">
            <h5>바쁘고 귀찮은 자취人들을 위한 </h5>
            <h2>초 간단 레시피 공유 페이지</h2>
            <h4>다섯 줄로 자신만의 레시피를 공유해보세요!</h4>
            <a href="/upload">
                <div class="button">포스팅하기</div>
            </a>

        </div>
    </div>

    <div class="menu mb-4">
        <div class="container">
            <div class="row" id="card-box">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 20min
                            </div>
                            <div class="star">⭐⭐⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 10min
                            </div>
                            <div class="star">⭐⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 5min
                            </div>
                            <div class="star">⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 15min
                            </div>
                            <div class="star">⭐⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 10min
                            </div>
                            <div class="star">⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/images/menu_1.jpg" alt="" class="img-fluid w-100">
                            <div class="mask"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Lorem, ipsum dolor.</h4>
                            <div class="time">
                                <i class="far fa-clock"></i> 10min
                            </div>
                            <div class="star">⭐⭐</div>
                            <br>
                            <button class="btn btn-success">MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search">
        <div class="searchwrap">
            <h2>Lorem ipsum dolor sit amet</h2>
            <br>
            <form action="#" method="post">
                <label for="search" class="searchtitle">SEARCH</label>
                <input type="text" id="search" placeholder="검색어를 입력하세요." class="searchinp">
                <input type="submit" value="Search" class="searchbutton">
            </form>
        </div>
    </div>

    <footer id="footerwrap">
        <div class="footer">
            <div class="logo">
                <h1><a href="#!">LOGO</a></h1>
            </div>
            <div class="footerend">
                <div class="footer1">
                    <ul class="clearfix">
                        <li><a href="#!">ⓒFiveLineRecipe, LLC 2022</a></li>
                        <li><a href="#!">DO NOT “SELL” MY INFO</a></li>
                        <li><a href="#!">AD PREFERENCES</a></li>
                        <li><a href="#!">PRIVACY</a></li>
                        <li><a href="#!">TERMS</a></li>
                    </ul>
                </div>
                <div class="footer2">
                    <h4>CUSTOMER SUPPORT</h4><br>
                    <ul class="clearfix">
                        <li><a href="#!">HELP CENTRE & FAQ</a></li>
                        <li><a href="#!">INVESTOR RELATIONS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>